/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.carousel-item {
  position: relative;
}

.image-container {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  z-index: 10;
}

.rowHeader{
  width: 100%;
  max-width: 820px !important;
  background: #e6e5e5;
  margin: 0px !important;
  font-size: 24px;
  color: white;
  border-bottom: 1px solid white
}

.colHeader{
  width: 100%;
  color: #4b2995;
  display: flex;
  justify-content: center;
  
}

.colHeader:not(:last-child){
  border-right: 1px solid white;
  height: inherit;
}

.rowCards{
  width: 100%;
  max-width: 820px !important;
  height: 100%;
  overflow: hidden;
  background: #F3F2F2;
  margin: 0px !important;
}

.colCards{
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.colCards:not(:last-child){
  border-right: 1px solid white;
  height: inherit;
}

.orderColumnPagination{
  display: flex;
  width: 100%;
  justify-content: center;
}